 <!--サイドバー部分 usershowの時に表示するやつ-->
    <% if @book.errors.any? %>
        <div class="alert">
            <ul>
            <%= @book.errors.count %>errors prohibited this book from being saved
            <% @book.errors.full_messages.each do |message| %>
            <li><%= message %></li>
            <% end %>
            </ul>
        </div>
    <% end %>
 <h2>User info</h2>
    <%= attachment_image_tag user, :profile_image, size: "100x100", format: 'jpeg',fallback: "no_image.jpg" %><!-- !!user.showへリンクしたい！！bookmodelに紐付けたuserのprofile_imageを表示します-->
    <table class="table">
     <tr></tr>
     <tr>
       <th>name</th>
       <th><%= user.name %></th>
     </tr>
     <tr>
       <th>introduction</th>
       <th><%= user.introduction %></th>
     </tr>
     <tr>
       <th>フォロー</th>
       <th><%= link_to user.follower.count, following_user_path(user) %></th>
     </tr>
     <tr>
       <th>フォロワー</th>
       <th><%= link_to user.followed.count, followers_user_path(user) %></th>
     </tr>
     <tr>
      <% if current_user.following?(user) %>
        <th><%= link_to 'フォロー外す', unfollow_path(user.id), method: :POST %></th>
      <% else %>
        <th><%= link_to 'フォローする', follow_path(user.id), method: :POST %></th>
      <% end %>
     </tr>
   </table>
  <% if @book.user == current_user %>
  <h2 class="jquery">New book</h2>
      <div>
        <%= form_with model:book, local:true do |f| %>
          <div>
            <p><strong>Title</strong></p>
            <%= f.text_field :title, size: "36%" %>
          </div>
          <div>
            <p><strong>Opinion</strong></p>
            <%= f.text_area :body, size: "35%" %>
          </div>
          <div>
            <%= f.submit 'Create Book', class: "btn btn-primary btn-block" %>
          </div>
        <% end %>
      </div>
  <% end %>

 <!--通常はログインユーザー情報,編集機能あり-->